body{
    background-color: aliceblue;
}

.fa{
    color: rgb(73, 144, 250);
}

span{
    font-size: 13px;
    margin: 15px 1px;
}

a{
    font-size: 13px;
    text-decoration: underline;
}

.boxpart{
    background-color: white;
    padding: 30px 10px;
}

.main{
    margin: 10px 1px;
}

.box{
    margin: 50px 50px;
}

.row{
    margin: 30px 0px;
}